/* здесь используйте глобальные селекторы img, body, html и так далее */

:root {
  --padding-offset: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $regular-font;
  font-size: 14px;
  line-height: 20px;
  color: $base-black;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-br {
  display: block;
}

.title {
  margin: 0;
  font-family: $bold-font;

  &--lg {
    font-size: 36px;
    line-height: 48px;
  }

  &--md {
    font-size: 24px;
    line-height: 36px;

    @include viewport-tablet {
      font-size: 42px;
      line-height: 64px;
    }
  }

  &--sm {
    font-size: 18px;
    line-height: 32px;

    @include viewport-tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.section-title {
  margin-bottom: 36px;
  text-align: center;

  @include viewport-tablet {
    margin-bottom: 60px;
  }

  @include viewport-desktop {
    margin-bottom: 80px;
  }

  &::before {
    position: relative;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $base-primary;
  }
}
