{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "es2022": true,
    "browser": true
  },
  "globals": {
    "noUiSlider": "readonly",
    "Pristine": "readonly"
  },
  "extends": "htmlacademy/vanilla"
}
