.container {
  display: block;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
  min-width: 320px;
  max-width: 1440px;

  &--new {
    padding-left: 26px;
    padding-right: 26px;
  }

  @include tablet {
    padding-left: 93px;
    padding-right: 93px;

    &--new {
      padding-left: 26px;
      padding-right: 26px;
    }
  }

  @include desktop {
    padding-left: 155px;
    padding-right: 157px;


    &--new {
      padding-left: 165px;
      padding-right: 156px;
    }
  }
}
