@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Comfortaa/comfortaa-regular.woff2") format("woff2"), url("../fonts/Comfortaa/comfortaa-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway/raleway-regular.woff2") format("woff2"), url("../fonts/Raleway/raleway-regular.woff") format("woff");
  font-display: swap;
}
