/* здесь используйте глобальные переменные */
:root {
  --font-main: "Montserrat", "Arial", sans-serif;

  // Base Colors
  --Base-White: #ffffff;
  --Base-Grey: #bdbdbd;
  --Base-Black: #333333;
  --Base-Primary: #7859cf;
  --Base-Secondary: #f0ebff;
  --Base-red: #f80303;


  // Alt Colors
  --Primary-Opacity: rgba(120, 89, 207, 0.25);
  --Primary-Lighter: #9070ec;
  --Primary-Darker: #593cac;
  --Light-Grey: #e2e2e2;

  // Background Colors
  --Lightest-Grey: #f8f8f8;


  --Flat-White: #f3ebe1;
  --Lavender-Latte: #eae6fc;
  --Espresso: #e5e6e8;

    // widths
    --min-width: 320px;
    --desktop-size: 1440px;
    --tablet-size: 768px;
    --mobile-size: 320px;
}

// viewports
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width-only: 767px;
