$montserrat-font: "Montserrat", "Arial", sans-serif;
$base-black: #333333;
$base-primary: #7859cf;
$lightest-grey: #f8f8f8;
$base-grey: #bdbdbd;
$base-white: #ffffff;
$display: block;
$pos: absolute;
$content: "";
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
