@import "../global/variables.scss";
@import "../global/global.scss";

.about-us {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.about-us__element {
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 222px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 317px;
    padding-top: 10px;
  }
}

.about-us__title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
  color: #7859cf;

  &--contact {
    margin-bottom: 21px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &--contact {
    gap: 16px;
  }
}

.about-us__item {
  margin: 0;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;

  &--contact {
    padding: 0;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 20px;
    position: relative;
    letter-spacing: 0;
  }
}

.about-us__item--address::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url("../../img/icons/stack.svg#address");
}

.about-us__item--phone::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 16px;
  top: 0;
  left: 0;
  background-image: url("../../img/icons/stack.svg#phone");
}

.about-us__link {
  text-decoration: none;
  color: #333333;
}

.about-us__link:hover {
  color: #9070ec;
}

.about-us__link:focus {
  color: #9070ec;
  outline: none;
}

.about-us__link:active {
  color: #593cac;
}
