@import "../global/variables.scss";
@import "../global/global.scss";

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  row-gap: 20px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-direction: row;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.button {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #7859cf;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;

  &--catalog {
    min-width: 141px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 20px 8px 46px;
    background-image: url("../../img/icons/stack.svg#basket-white");
    background-position: 16% 50%;
    background-size: 20px 16px;
    background-repeat: no-repeat;
  }
}

.button:focus-within {
  outline: none;
  background-color: #9070ec;
}

.button:hover {
  background-color: #9070ec;
}

.button:active {
  outline: none;
  background-color: #593cac;
}

.button:disabled {
  outline: none;
  background-color: #bdbdbd;
  cursor: default;
}

.button--reset {
  background-color: #ffffff;
  color: #7859cf;

  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }
}

.button--reset:hover {
  color: #ffffff;
}

.button--reset:focus {
  color: #ffffff;
}

.button--reset:disabled {
  background-color: #e2e2e2;
  color: #ffffff;
}

.button--send {
  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }
}
