.goods__select {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Montserrat", "Arial", sans-serif;
  border: none;
  color: #7859cf;
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 5px 9px;

  &:hover,
  &:focus {
    background-color: #f0ebff;
  }
}

.goods__select-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-left: 3px;
}

.goods__select-wrapper {
  display: flex;
  gap: 9px;
  margin-bottom: 16px;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
    padding-right: 5px;
    margin-bottom: 26px;
  }
}

.goods__list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}
