@import "../global/variables.scss";
@import "../global/global.scss";

.logo-bar__logo-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.logo-bar__logo-link {
  display: block;
  height: auto;

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.logo-bar__logo-image {
  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.logo-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 19px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 30px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
    justify-content: start;
    width: 318px;
  }
}

.logo-bar__social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  min-width: 160px;
  gap: 20px;
}

.logo-bar__social-item {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
}

.logo-bar__social-link {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.logo-bar__social-image {
  transform: translate(50%, 50%);
  fill: #bdbdbd;
}

.logo-bar__social-link:hover {
  background-color: #f0ebff;
}

.logo-bar__social-link:focus {
  background-color: #f0ebff;
  outline: none;
}

.logo-bar__social-link:active {
  background-color: rgba(120, 89, 207, 0.25);
}

.logo-bar__social-link:hover .logo-bar__social-image {
  fill: #7859cf;
}

.logo-bar__social-link:focus-visible .logo-bar__social-image {
  outline: none;
  fill: #7859cf;
}

.logo-bar__social-link:active .logo-bar__social-image {
  fill: #7859cf;
}
