.main-nav {
  margin: 0;
  padding: 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.main-nav__list {
  list-style: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 320px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  text-align: center;
  padding: 20px 22px 20px 22px;
  text-decoration: none;
  color: #333333;
  border-top: 1px solid #f0ebff;
  font-weight: 500;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    padding: 32px 20px 30px 20px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      color: #7859cf;
    }
  }

  &:active {
    background-color: #f0ebff;
    color: #7859cf;
  }

  @media (max-width: $mobile-width-only) {
    &:active {
      color: #333333;
    }
  }
}

.main-nav__list:last-child {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #f0ebff;
  }
}

.main-nav__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #7859cf;
  }

  @media (min-width: $desktop-width) {
    color: #7859cf;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;

  &:active {
    background-color: #f0ebff;
  }


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 17px;
  height: 2px;
  background-color: #333333;
  box-shadow: 0 5px 0 0 #333333, 0 10px 0 0 #333333;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: (#333333, 30%);
  box-shadow:
    0 8px 0 0 (#333333,
    30%),
    0 16px 0 0 (#333333,
    30%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: #333333;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: (#333333, 30%);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;

    &--active {
      display: block;
    }
  }
}
