@import "../global/variables.scss";
@import "../global/global.scss";

.nav-user__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.nav-user__item {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px 32px 44px;
    height: 16px;
    font-size: 12px;
    width: auto;
  }
}

.nav-user__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.nav-user__item:hover .nav-user__icon {
  opacity: 0.5;

  @media (min-width: $desktop-width) {
    opacity: 1;
    fill: #7859cf;
  }
}

.nav-user__item:hover .nav-user__description {
  @media (min-width: $desktop-width) {
    color: #7859cf;
  }
}

.nav-user__item:focus-within .nav-user__icon {
  @media (min-width: $desktop-width) {
    fill: #7859cf;
  }
}

.nav-user__item:focus-within .nav-user__description {
  @media (min-width: $desktop-width) {
    color: #7859cf;
  }
}

.nav-user__item:focus-within .nav-user__link {
  @media (min-width: $desktop-width) {
    outline: none;
  }
}

.nav-user__item:active {
  background-color: #f0ebff;
}

.nav-user__icon {
  position: absolute;
  transform: translate(-50%, 125%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, 190%);
  }

  @media (min-width: $desktop-width) {
    left: 20px;
    top: 40px;
    transform: translateY(-50%);
  }
}

.nav-user__description {
  display: none;


  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    color: #333333;
  }
}
