.page {
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  background-color: #e7e5e5;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  // background-color: @main-bcg;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  // font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.page-main {
  flex-grow: 1;
  height: 100%;
}

