.page {
  height: 100%;
}

.page__body {
  width: 1440px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}
