.noUi-connect {
  background-color: #9070ec;
}

.noUi-target {
  background-color: #e2e2e2;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  height: 2px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background-color: #ffffff;
  border: 2px solid #9070ec;

  &:hover,
  &:focus {
    background-color: #eae6fc;
    z-index: 1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) inset;
  }

  &:active {
    background-color: #7859cf;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) inset;
  }
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
  right: -24px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}

.price__range-slider {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.price__range-hyphen {
  width: 8px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;

  @media (min-width: $desktop-width) {
    width: 10px;
  }
}

.price__range-input {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border: 2px solid #9070ec;
  border-radius: 4px;
  padding: 6px 8px;
  text-align: center;
  width: 98px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 114px;
  }
}

.price__range-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}
