.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 50px;
    margin: 0;
  }
}

.social::after {
  content: "";
  height: 1px;
  width: 320px;
  position: absolute;
  bottom: -18px;
  background-color: #f0ebff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social__image {
  padding-top: 3px;

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.social__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  fill: #bdbdbd;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #f0ebff;
    fill: #7859cf;
    border-radius: 4px;
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
    fill: #7859cf;
    border-radius: 4px;
  }
}

.social__text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
