@font-face {
  font-family: "montserrat";
  src: url("../../fonts/montserrat-regular.woff2") format("woff2"),
    url("../../fonts/montserrat-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("../../fonts/montserrat-medium.woff2") format("woff2"),
    url("../../fonts/montserrat-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("../../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../../fonts/montserrat-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("../../fonts/montserrat-bold.woff2") format("woff2"),
    url("../../fonts/montserrat-bold.woff2") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
