@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/montserrat-regular.woff2") format("woff2"),
    url("/fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/montserrat-medium.woff2") format("woff2"),
    url("/fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Semi Bold";
  src: url("/fonts/montserrat-semibold.woff2") format("woff2"),
    url("/fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/montserrat-bold.woff2") format("woff2"),
    url("/fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
