/* здесь используйте глобальные переменные */
:root {
  --base-black: #333333;
  --base-white: #ffffff;
  --base-grey: #bdbdbd;
  --accent-color: #7859cf;
  --accent-pale-color: #f0ebff;
  --accent-lighter-color: #9070ec;
  --accent-dark-color: #593cac;
  --accent-opacity-color: rgba(120, 89, 207, 0.25);
  --intro-color: #f3ebe1;
  --light-grey: #f8f8f8;
  --disabled-color: #e2e2e2;
  --lavender-color: #eae6fc;
  --turbo-color: #e5e6e8;
}
