/* здесь используйте глобальные переменные */

// Width
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Base colors
$white: #ffffff;
$purple: #7859CF;
$black: #333333;
$light-grey: #e2e2e2;

// Fonts
$montserrat-regular: "Montserrat Regular", "Arial", sans-serif;
$montserrat-medium: "Montserrat Medium", "Arial", sans-serif;
$montserrat-semi-bold: "Montserrat Semi Bold", "Arial", sans-serif;
$montserrat-bold: "Montserrat Bold", "Arial", sans-serif;
