.cards__container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;
}
