.catalog__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 220px max-content max-content;
    row-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: start;
  }
}

.form__element {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__title {
  font-weight: 600;
  line-height: 24px;
}

div .price-slider {
  margin: 31px 0 35px;
  padding: 0 12px;
  max-width: 100%;
  height: 4px;
  outline: none;
  border: none;
  background-color: $light-grey;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.price-slider .noUi-connect {
  background: $primary-lighter;
}

div .price-slider .noUi-handle {
  width: 24px;
  height: 24px;
  border: 2px solid $primary-lighter;
  background-color: $base-white;
  box-sizing: border-box;
  border-radius: 50%;
  top: -10px;
  right: -12px;
  box-shadow: none;

  &::after,
  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $lavender-latte;
    outline: 2px solid $base-white;
    outline-offset: -4px;
  }

  &:active {
    background-color: $base-primary;
    outline: 2px solid $base-white;
    outline-offset: -4px;
  }
}

.price-slider:disabled .noUi-handle {
  background-color: $base-white;
  border: 2px solid $base-grey;
}

.price-slider:disabled .noUi-connect {
  background: $base-grey;
}

.price__label {
  width: 100%;
}

.price-input__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    background-color: $base-grey;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    gap: 60px;
  }
}

.price__input {
  text-align: center;
  border: 2px solid $primary-lighter;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: $base-grey;

  &:focus-visible {
    color: $base-black;
    border: 2px solid $primary-darker;
    outline: none;
  }
}

.form__list {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.button.form__button {
  min-width: 160px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 14px;

  @media (min-width: $desktop-width) {
    padding: 0 7px;
    min-width: 143px;
  }
}
