.features__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 60px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 0 30px 100px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-page-width;
    margin: 0 auto;
    padding: 100px 30px 120px;
  }
}

.features__badge {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $base-primary;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.features__title {
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    font-size: 42px;
    line-height: 64px;
  }
}

.features__list {
  display: flex;
  gap: 36px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features__item {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "icon title"
      "icon content";
    column-gap: 20px;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 0;
  }
}

.feature__icon {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    grid-area: icon;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.feature__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: title;
    font-size: 24px;
    line-height: 36px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.feature__content {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: content;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
