/* здесь подключите шрифты*/
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src: local("Montserrat"),
    url("../fonts/montserrat-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src: local("Montserrat"),
    url("../fonts/montserrat-medium.woff2") format("woff2");
}


@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src: local("Montserrat"),
    url("../fonts/montserrat-bold.woff2") format("woff2");
}
