@import "variables";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $base-black;
}

img {
  max-width: 100%;
  object-fit: contain;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
