/* здесь используйте глобальные селекторы img, body, html и так далее*/
/* stylelint-disable */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* stylelint-enable */
