.header {
  min-height: 60px;
}

.header__wrapper {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: auto 1fr 60px;
  grid-template-areas:
    "logo user toggle"
    "site site site";
  box-sizing: border-box;

  &--nojs {
    position: relative;
  }
}

.header__logo {
  grid-area: logo;
  display: grid;
  place-items: center;
  padding: 0 20px;
}

.header__user-nav {
  grid-area: user;
}


.header__site-nav {
  grid-area: site;
  position: absolute;
  width: 100%;
  background-color: $base-white;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    &--closed {
      display: none;
    }
    &--open:after {
      position: absolute;
      content: '';
      top: 0;
      height: 1px;
      background-color: $base-secondary;
      left: 0;
      right: 0;
    }
  }

  @media (width: $mobile-width-only) {
    &--closed {
      display: none;
    }
  }



  &--nojs {
    position: relative;
    display: block;
  }
}


.header__toggle {
  cursor: pointer;
  grid-area: toggle;
  position: absolute;
  right: 0;
  border: none;
  width: 60px;
  height: 60px;

  &--open {
    background: url("./../img/header-menu-open.svg") $base-white no-repeat 50% 50%;
  }

  &--closed {
    background: url("./../img/header-menu-closed.svg") $base-white no-repeat 50% 50%;
  }

  &--nojs {
    display: none;
  }

  &:active {
    background-color: $base-secondary;
  }
}



.header__picture {
  display: flex;
  align-items: center;
}

.header__image {
  @media (min-width: $tablet-width) {
    display: block;
    width: 82px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}
