.site-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.site-list__item {
  position: relative;
  display: grid;
  place-items: center;
  height: 60px;
  border-bottom: 1px solid $base-secondary;
  box-sizing: border-box;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    height: auto;
    align-items: center;
  }
}

.site-list__link {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-black;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;

    &--current {
      border-bottom: 2px solid $base-primary;
      color: $base-primary;
    }

    &:hover,
    &:focus-within {
      color: $base-primary;
      outline: none;
    }

    &:active {
      background-color: $base-secondary;
    }
  }
}
