.user__wrapper {
  display: flex;
  justify-content: end;
}

.user-list__button {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 0;
  background-color: $base-white;
  border: none;

  &:active {
    background-color: $base-secondary;
  }
}
