.advantage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 97px;
  }
}

.advantage__item {
  text-align: center;
  padding-bottom: 32px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: none;
    text-align: center;
    justify-items: center;
  }
}

.advantage__item-img {
  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }
}

.advantage__description {
  font-family: $montserrat-bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 36px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    padding-bottom: 0;
  }
}

.advantage__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 45px;
    padding: 55px 10px 101px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 72px 0 119px;
  }
}

.advantage__heading {
  font-family: $montserrat-bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859cf;
  text-transform: uppercase;
  padding-bottom: 4px;
  margin: 0;
}

.advantage__wrapper-title {
  @media (min-width: $tablet-width) {
    padding-left: 21px;
  }
  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.advantage__title {
  font-family: $montserrat-bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding: 5px 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    padding: 5px 0 11px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 11px;
  }
}


.advantage__text {
  font-family: $montserrat-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
  }
}
