@import "../global/variables.scss";

.advantages {
  color: $base-black;
  background-color: $white;
  min-width: 320px;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    margin-bottom: 120px;
  }
}

.advantages__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 0 40px;
  }
}

.advantages__top {
  text-align: center;
}

.advantages__title {
  color: $base-purple;
  font-size: $font-size-tiny;
  line-height: $line-height-mini;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  padding-top: 50px;
  letter-spacing: 0.04em;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.advantages__subtitle {
  font-size: $font-size-normal;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
  padding-top: 6px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-huge;
    line-height: $line-height-huge;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.advantages__bottom {
  @media (min-width: $tablet-width) {
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__item {
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

.advantages__description {
  @media (min-width: $tablet-width) {
    width: 267px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    margin-left: 0;
    padding-top: 20px;
  }
}

.advantages__name {
  font-size: $font-size-average;
  line-height: $line-height-tall;
  font-weight: $font-weight-bold;
  margin: 0;
  padding-top: 5px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-normal;
    line-height: $line-height-big;
    text-align: start;
    padding-top: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__spec {
  font-size: $font-size-small;
  line-height: $line-height-default;
  font-weight: $font-weight-regular;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-mini;
    line-height: $line-height-normal;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
