.available-list {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  &__item {
    padding-top: 20px;
  }

  &__label {
    position: relative;
  }

  &__radio {
    position: absolute;
    top: -4px;
    width: 24px;
    height: 24px;
    background: $base-white;
    border: 3px solid $alt-primary;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus {

      box-shadow: inset 0 0 0 3px $base-white, inset 0 0 0 12px rgba(120, 89, 207, 0.25);
    }

    &:hover,
    &:focus {

    }
  }

  &__text {
    padding-left: 34px;
  }

  &__input:checked+&__radio {
    box-shadow: inset 0 0 0 3px $base-white, inset 0 0 0 12px $alt-primary;
  }

  &__input:disabled~&__text {
    color: $base-grey;
  }

  &__input:disabled~&__radio {
    border: 3px solid $base-grey;
  }
}
