.button {
  padding: 8px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: var(--base-white);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    background: var(--accent-lighter-color);
  }

  &:active {
    background: var(--accent-dark-color);
  }

  &:disabled {
    background: var(--base-grey);
  }
}
