.card {
  list-style-type: none;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    margin: 20px 0;

    &:first-child {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    }
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }

  &__link {
    display: flex;
    justify-content: center;

    @media (max-width: $mobile-width-only) {
      padding-top: 20px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 19px;
    }
  }

  &__tittle {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;

    @media (max-width: $mobile-width-only) {
      padding-top: 20px;
    }

    @media (min-width: $tablet-width) {
      font-size: 24px;
      padding-top: 30px;
    }
  }

  &__description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $mobile-width-only) {
      max-width: 238px;
      padding-top: 2px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 10px;
      max-width: 288px;
    }
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile-width-only) {
      padding-top: 15px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 18px;
    }

    @media (min-width: $desktop-width) {}
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    width: 140px;
    font-size: 14px;
  }
}
