@import "../global/variables.scss";

.catalog {
  color: $base-black;
  background-color: $background-grey;
  min-width: 320px;
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.catalog__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 0 40px;
  }
}

.catalog__title {
  color: $base-purple;
  font-size: $font-size-tiny;
  line-height: $line-height-mini;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-top: 50px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.catalog__subtitle {
  font-size: $font-size-normal;
  line-height: $line-height-big;
  font-weight: $font-weight-bold;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-huge;
    line-height: $line-height-huge;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__filter {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.catalog__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.catalog__form-price,
.catalog__form-milk,
.catalog__form-origin {
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0;
  position: relative;
}

.catalog__form-price {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog__form-title {
  font-size: $font-size-mini;
  line-height: $line-height-normal;
  font-weight: $font-weight-semibold;
}

.catalog__title-price {
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.catalog__title-milk {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 21px;
  }
}

.catalog__title-origin {
  padding-bottom: 18px;
}

.catalog__form-range {
  @media (min-width: $tablet-width) {
    margin-left: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.catalog__range-scale {
  position: relative;
  width: 280px;
  height: 2px;
  margin-bottom: 36px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    width: 219px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    margin-bottom: 32px;
  }
}

.catalog__range-bar {
  position: absolute;
  width: 241px;
  height: 4px;
  background-color: $base-purple;
  left: 11px;
  top: -1px;

  @media (min-width: $tablet-width) {
    width: 189px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}

.catalog__button-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: $white;
  border: 2px solid $purple-lighter;
  border-radius: 50%;
  cursor: pointer;
  top: -11px;
}

.catalog__button-toggle:hover,
.catalog__button-toggle:focus {
  outline: none;
}

.catalog__button-toggle:focus {
  box-shadow: 0 0 0 1px $black;
}

.catalog__button-toggle:hover::after,
.catalog__button-toggle:focus::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: $base-purple-opacity;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.catalog__button-toggle:active::after {
  background-color: $base-purple;
}

.catalog__button-toggle:disabled {
  background-color: $light-grey;
  border: 2px solid $base-grey;
}

.catalog__button-toggle-min {
  left: -11px;
}

.catalog__button-toggle-max {
  right: -5px;

  @media (min-width: $tablet-width) {
    right: 0;
  }

  @media (min-width: $desktop-width) {
    right: -11px;
  }
}

.catalog__range-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__range-min,
.catalog__range-max {
  font-family: $font-montserrat;
  font-size: $font-size-mini;
  line-height: $line-height-normal;
  font-weight: $font-weight-medium;
  width: 114px;
  color: $base-black;
  box-sizing: border-box;
  display: block;
  border: 2px solid $purple-lighter;
  border-radius: 4px;
  text-align: center;
  padding: 7px 10px;

  @media (min-width: $tablet-width) {
    width: 90px;
    padding: 6px 11px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    padding: 7px 10px;
  }
}

.catalog__range-min:focus,
.catalog__range-max:focus {
  border: 2px solid $purple-darker;
  outline: none;
}

.catalog__range-input-dash::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 2px;
  background-color: $base-grey;
  top: 20px;
  left: 135px;

  @media (min-width: $tablet-width) {
    left: 105px;
  }

  @media (min-width: $desktop-width) {
    left: 155px;
  }
}

.catalog__form-milk {
  @media (min-width: $tablet-width) {
    margin-left: 21px;
    margin-right: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 9px;
  }
}

.catalog__milk-radio,
.catalog__origin-check {
  font-size: $font-size-mini;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  position: relative;
  cursor: pointer;
}

.catalog__milk-radio {
  padding-left: 34px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__milk-radio::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -2px;
  left: 0;
  background-color: $white;
  border: 2px solid $base-grey;
  border-radius: 50%;
}

.catalog__milk-radio:hover::before,
.catalog__milk-radio:focus::before {
  border: 2px solid $purple-lighter;
}

.catalog__milk-radio:hover::after,
.catalog__milk-radio:focus::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 4px;
  background-color: $base-purple-opacity;
  border-radius: 50%;
}

.catalog__milk-input:disabled + .catalog__milk-radio::before {
  background-color: $background-grey;
  border: 2px solid $light-grey;
}

.catalog__milk-input:disabled + .catalog__milk-radio {
  color: $base-grey;
}

.catalog__milk-input:checked + .catalog__milk-radio::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 4px;
  background-color: $base-purple;
  border-radius: 50%;
  outline: 2px solid $base-purple;
  outline-offset: 2px;
}

.catalog__milk-input:disabled + .catalog__milk-radio:hover::after,
.catalog__milk-input:disabled + .catalog__milk-radio:focus::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 4px;
  background-color: transparent;
  border-radius: 50%;
}

.catalog__milk-input:checked:disabled + .catalog__milk-radio::after {
  background-color: $light-grey;
  outline: 2px solid $light-grey;
}

.catalog__form-origin {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.catalog__origin-check {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.catalog__origin-check::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  margin: 0;
  margin-right: 12px;
  vertical-align: top;
  background: $base-grey;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  appearance: none;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}

.catalog__origin-check:hover::before,
.catalog__origin-check:focus::before {
  width: 38px;
  height: 20px;
  background-color: $base-purple-opacity;
  border: 2px solid $base-purple;
}

.catalog__origin-check::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(0);
}

.catalog__origin-input:checked + .catalog__origin-check::after {
  transform: translateX(calc(100% - 2px));
}

.catalog__origin-input:checked + .catalog__origin-check::before {
  background-color: $base-purple;
}

.catalog__origin-input:disabled + .catalog__origin-check::before {
  background-color: $light-grey;
}

.catalog__origin-input:disabled + .catalog__origin-check::after {
  background-color: $background-grey;
}

.catalog__origin-input:disabled + .catalog__origin-check {
  color: $base-grey;
}

.catalog__origin-input:disabled + .catalog__origin-check:hover::before,
.catalog__origin-input:disabled + .catalog__origin-check:focus::before {
  border: 2px solid $light-grey;
}

.catalog__origin-input:checked:disabled + .catalog__origin-check::after {
  background-color: $base-grey;
}

.catalog__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 30px;
    margin-left: 180px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    gap: 18px;
  }
}

.catalog__submit-button {
  display: inline-block;
  font-family: $font-montserrat;
  font-size: $font-size-little;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  color: $white;
  background-color: $base-purple;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  width: 160px;
  padding: 11px 0;
  margin-bottom: 24px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 147px;
    padding: 8px 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.catalog__submit-button:focus,
.catalog__submit-button:hover {
  background-color: $purple-lighter;
}

.catalog__submit-button:active {
  background-color: $purple-darker;
}

.catalog__submit-button:disabled {
  background-color: $base-grey;
}

.catalog__reset-button {
  display: inline-block;
  font-family: $font-montserrat;
  font-size: $font-size-small;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  color: $base-purple;
  background-color: $white;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  width: 160px;
  padding: 11px 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 138px;
    padding: 9px 0;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.catalog__reset-button:focus,
.catalog__reset-button:hover {
  background-color: $purple-lighter;
  color: $white;
}

.catalog__reset-button:active {
  background-color: $purple-darker;
  color: $white;
}

.catalog__reset-button:disabled {
  background-color: $light-grey;
  color: $white;
}
