.contact__inner {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.contact__title {
  font-family: $montserrat-bold;
  font-size: 14px;
  line-height: 20px;
  color: $purple;
  margin: 0 0 7px;
  padding-bottom: 10px;
}

.contact__list {
  font-family: $montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  padding: 0;
  margin: 0;
}

.contact__item {
  list-style-type: none;
  text-transform: none;
  display: flex;
  list-style: none;

  &--adress {
    margin-bottom: 16px;
  }
}

.contact__icon {
  margin-right: 6px;
}

.contact__wrapper-desk {
  text-decoration: none;
  color: $black;
}
