.copyright {
  color: $base-grey;

  &__text {
    padding-right: 6px;
  }

  &__link {
    position: relative;
    color: $base-grey;
    display: flex;
    align-items: center;
    line-height: 16px;
    padding-right: 16px;

    &:hover,
    &:focus {
      color: $base-primary;
    }

    &:active {
      color: $dark-primary;
    }

    &-icon {
      position: absolute;
      right: 0;
    }
  }
}
