.copyring {
  font-family: $montserrat-regular;
  font-size: 12px;
  color: $base-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 29px;
}

.copyring__text {
  margin: 0;
}

.copyring__link {
  display: flex;
}

.copyring__link-icon {
  fill: $base-grey;

  &:hover,
  &:focus {
    fill: #7859CF;
  }
  &:active {
    fill: #593CAC;
  }
}
