.country__wrapper {
  border: none;
  padding: 0;
  margin: 0;
}

.country__title {
  font-family: $montserrat-semi-bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
  }
}

.country__item {
  margin-bottom: 24px;
}

.country__list {
  list-style-type: none;
  padding: 0;
  margin: 23px 0 0 0;
}

.country__label {
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 52px;
  font-family: $montserrat-regular;
  font-size: 16px;
  margin-bottom: 20px;
}

.country__label::after {
  position: absolute;
  bottom: 0;
  top: 0;
  content: "";
  border: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 3px;
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  border-radius: 12px;
  box-sizing: border-box;
}

.country__label::before {
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
  background-color: $white ;
  border-radius: 50%;
  z-index: 2;
  bottom: 0;
  top: 0;
  content: "";
  border: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.country__input:checked+.country__label::after {
  background-color: $purple;
}

.country__input:checked+.country__label::before {
  left: 22px;
  z-index: 2;
}

