.country-list {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  &__item {
    padding-top: 20px;
  }

  &__label {
    position: relative;


    &:hover .country-list__checkbox,
    &:focus .country-list__checkbox {
      box-shadow: 0 0 0 2px $alt-primary;
    }
  }

  &__checkbox {
    position: absolute;
    top: -2px;
    left: 0;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background-color: $base-grey;


    &::before {
      position: absolute;
      content: "";
      left: 1px;
      top: 1px;
      width: 19px;
      height: 19px;
      border: 2px solid $base-grey;
      border-radius: 14px;
      background-color: $base-white;
    }
  }

  &__text {
    padding-left: 52px;
  }

  &__input:checked+&__checkbox {
    background-color: $base-primary;
  }

  &__input:checked+&__checkbox::before {
    right: 0;
    left: auto;
    border-color: $base-primary;
  }

  &__input:disabled~&__text {
    color: $base-grey;
  }
}
