.filter {
  &__form {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }

  &__fieldsets {
    @media (min-width: $tablet-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      padding-top: 2px;
    }
  }

  &__fieldset {
    border: none;

    &--available {
      @media (max-width: $mobile-width-only) {
        margin-top: 11px;
      }

      @media (min-width: $tablet-width) {
        padding-right: 43px;
      }
    }

    &--country {
      @media (max-width: $mobile-width-only) {
        margin-top: 15px;
      }

      @media (min-width: $tablet-width) {
        padding-right: 20px;
      }
    }

  }

  &__heading {
    margin: 0;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      padding-top: 30px;
    }
  }

  &__range--disabled {
    & .filter__range-bar {
      background-color: $base-grey;
    }

    & .filter__range-toggle {
      border: 2px solid $base-grey;
    }

  }

  &__range-controls {
    position: relative;

    @media (max-width: $mobile-width-only) {
      padding: 33px 0;
    }

    @media (min-width: $tablet-width) {
      padding: 31px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 32px 0;
    }
  }

  &__range-scale {
    height: 2px;
    background-color: $range-scale-color;
  }

  &__range-bar {
    position: absolute;
    top: 46%;
    height: 3px;
    background-color: $alt-primary;

    @media (max-width: $mobile-width-only) {
      width: 241px;
    }

    @media (min-width: $tablet-width) {
      width: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
    }
  }

  &__range-toggle {
    position: absolute;
    width: 24px;
    height: 24px;
    background: $base-white;
    border: 3px solid $alt-primary;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus {

      box-shadow: inset 0 0 0 3px $base-white, inset 0 0 0 12px rgba(120, 89, 207, 0.25);
    }

    &:active {
      box-shadow: inset 0 0 0 3px $base-white, inset 0 0 0 12px $alt-primary;
    }

    @media (max-width: $mobile-width-only) {
      &--min {
        top: 18px;
      }

      &--max {
        top: 18px;
        right: 14px;
      }
    }

    @media (min-width: $tablet-width) {
      &--min {
        top: 17px;
        left: -3px;
      }

      &--max {
        top: 17px;
        right: 19px;
      }
    }

    @media (min-width: $desktop-width) {
      &--max {
        right: 17px;
      }
    }
  }

  &__price {
    @media (min-width: $tablet-width) {
      min-width: 223px;
      padding-right: 26px;
    }

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      width: 318px;
      padding-right: 0;
      padding-top: 10px;
    }
  }

  &__price-controls {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-width-only) {
      gap: 22px;
    }

    @media (min-width: $tablet-width) {
      gap: 17px;
      justify-content: space-evenly;
    }

    @media (min-width: $desktop-width) {
      gap: 7px;
    }
  }

  &__price-control {
    border: 2px solid $alt-primary;
    border-radius: 4px;
    text-align: center;
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: 500;
    box-sizing: border-box;

    &:focus,
    &:active {
      border-color: $dark-primary;
      outline: none;
    }

    &:disabled {
      border-color: $base-grey;
      outline: none;
    }

    &--min {
      color: $base-grey;
    }

    @media (max-width: $mobile-width-only) {
      width: 118px;

      &--max {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      width: 86px;

      &--max-mobile {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      display: flex;
      width: 44%;

      &--max-mobile {
        display: none;
      }
    }

    &-separator {
      height: 2px;
      background-color: $base-grey;
      margin: 18px 0;
      width: 8px;

      @media (min-width: $desktop-width) {
        margin: 18px 13px;
        width: 10px;
      }
    }
  }

  &__buttons {
    @media (max-width: $mobile-width-only) {
      padding-top: 30px;
    }

    @media (min-width: $tablet-width) {
      margin: 0 auto;
    }

    &-wrapper {
      @media (max-width: $mobile-width-only) {
        display: flex;
        flex-direction: column;
      }

      @media (min-width: $desktop-width) {
        display: flex;
        gap: 10px;
      }
    }
  }

  &__buttons {
    @media (min-width: $tablet-width) {
      padding-top: 30px;
    }

  }

  &__button {

    @media (min-width: $tablet-width) {
      margin: 10px;
    }

    &--apply {

      @media (min-width: $desktop-width) {
        margin-left: 0;
        margin-right: 0;
        width: 150px;
      }
    }

    &--reset {
      background-color: $base-white;
      color: $base-primary;

      &:hover,
      &:focus,
      &:disabled {
        color: $base-white;
      }

      @media (max-width: $mobile-width-only) {
        margin-top: 20px;
      }

      @media (min-width: $desktop-width) {
        width: 150px;
      }
    }
  }

}
