.footer {
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }

  &__inner {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile-width-only) {
      padding: 16px 20px 0;
    }

    @media (min-width: $tablet-width) {
      padding: 34px 20px 0;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      justify-content: start;
      padding: 37px 0 0 40px;
      min-width: 318px;
      align-items: start;
    }
  }

  &__badge {
    display: none;
    margin: 0;

    @media (min-width: $desktop-width) {
      display: block;
      font-size: 14px;
      padding-top: 9px;
    }
  }

  &__social-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: $desktop-width) {
      padding-top: 50px;
    }
  }

  &__copyright {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: baseline;
    justify-content: center;

    @media (max-width: $mobile-width-only) {
      padding: 20px 0 30px;
    }

    @media (min-width: $tablet-width) {
      padding: 40px 0 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 0 40px;
    }
  }
}
