.main-nav {
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
  line-height: 12px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: stretch;
    width: 768px;
    padding: 0 20px;
    max-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;

    @media (min-width: $tablet-width) {
      display: contents;
    }
  }

  &__logo {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      padding-right: 6px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 20px;
    }
  }

  &__text {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      font-weight: 400;
      text-transform: none;
      align-items: center;
      margin: 0;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &__toggle {
    display: none;
    position: relative;
    top: -2px;
    left: 0;
    background-color: transparent;
    background-position: center;
    min-width: 60px;
    min-height: 60px;

    @media (max-width: $mobile-width-only) {
      display: block;
      padding: 22px;
      border: none;
    }
  }

  &--opened {
    & .nav-point {
      display: flex;
    }

    @media (max-width: $mobile-width-only) {
      & .nav-point__item::before,
      & .nav-point__item:last-child::after {
        display: inline;
      }
    }
  }

  &__toggle {
    background-image: url(../../img/svg/burger.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;

    &:active {
      background-color: $lite-primary;
    }
  }

  &--opened &__toggle {
    background-image: url(../../img/svg/close.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
  }
}
