.main-footer__inner {
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.main-footer__social {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 20px 0;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f0ebff;
    left: 0;
    bottom: 0;
    min-height: min-content;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }


  @media (min-width: $tablet-width) {
    padding: 42px 0 29px 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    flex-direction: column;
    align-items: start;
    margin: 0 29px 0 0;
    padding: 0;
    padding-top: 42px;
  }
}

.main-footer__logo {
  text-decoration: none;

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.main-footer__desk {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-family: $montserrat-regular;
    font-size: 14px;
    color: $black;
    line-height: 20px;
    margin: 0;
  }
}
