.nav-point {
  align-items: center;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 320px;
    z-index: 2;
    background-color: $base-white;
    left: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    gap: 2px;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
  }


  &__item {
    padding: 20px 100%;
    position: relative;
    white-space: nowrap;

    @media (max-width: $mobile-width-only) {
      &:active {
        background-color: $lite-primary;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 32px 20px;

      &--active .nav-point__link::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $base-primary;
        bottom: 0;
        transform: translateX(-79%);
      }

      &:hover,
      &:focus {
        color: $base-primary;
      }

      &:active {
        color: $base-primary;
        background-color: $lite-primary;
      }
    }

    &::before,
    &:last-child::after {
      display: none;
      position: absolute;
      content: "";
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $lite-primary;
      margin-top: -20px;
    }

    &:last-child::after {
      margin-top: 32px;
    }

  }
}
