.page {
  height: 100%;
  font-size: 14px;
  font-family: $montserrat-regular;
  line-height: 20px;
  box-sizing: border-box;
}

.page__body {
  min-height: 100%;
  background-color: $white;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
