.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-top: 72px;
    padding-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 0 0;
  }
}

.pagination__item {
  display: flex;
  align-items: center;
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  color: $purple;
  background-color: $white;
  border-radius: 4px;
  list-style: none;
  position: relative;
}

.pagination__item:not(:last-child) {
  margin-right: 20px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;

  &:active {
    background-color: #593cac;
  }

  &:hover,
  &:focus {
    background-color: #9070EC;
    color: $white;
  }

  &:disabled {
    background-color: $light-grey;
    cursor: default;
    pointer-events: none;
  }
}


.pagination__link span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__item--current {
  font-family: $montserrat-semi-bold;
  background-color: #f8f8f8;
  color: $black;
  cursor: default;
}


.pagination__link--back,
.pagination__link--next {
  @media (min-width: $tablet-width) {
    padding: 5px 20px;
  }
}


.pagination__link-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
