@import "../global/variables.scss";

.pagintaion__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 44px;
}

.pagination__button {
  display: inline-block;
  position: relative;
  font-family: $font-montserrat;
  font-size: $font-size-mini;
  line-height: $line-height-normal;
  font-weight: $font-weight-regular;
  color: $base-purple;
  background-color: $white;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.pagination__button--current {
  font-weight: $font-weight-semibold;
  color: $base-black;
  background-color: transparent;
}

.pagination__button-name {
  display: none;
  position: relative;
}

.pagination__prev-button::before {
  position: absolute;
  content: "";
  border: solid $base-purple;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  top: 17px;
  left: 17px;
  transform: rotate(135deg);
}

.pagination__next-button::before {
  position: absolute;
  content: "";
  border: solid $base-purple;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  top: 17px;
  left: 15px;
  transform: rotate(-45deg);
}
