.selection {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-left: 63px;
  }
}

.selection__title {
  font-family: $montserrat-bold;
  font-size: 14px;
  line-height: 20px;
  color: $purple;
  margin: 0;
  padding: 20px 0;
}

.selection__list {
  font-family: $montserrat-medium;
  font-weight: 500;
  letter-spacing: 0.24px;
  margin: 0;
  padding: 0;
}

.selection__item {
  list-style-type: none;
  margin: 0 0 16px;
  padding: 0;
}

.selection__link {
  text-decoration: none;
  color: $black;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
