.slider {
  text-align: center;
  position: relative;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 185px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;

    &--white {
      background-color: $bacground-white;
    }

    &--latte {
      background-color: $bacground-latte;
    }

    &--espresso {
      background-color: $bacground-espresso;
    }

    &-inner {
      @media (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: 49% 51%;
        max-width: 1440px;
        margin: 0 auto;
      }
    }

    &-img {
      @media (max-width: $mobile-width-only) {
        padding-top: 20px;
      }

      @media (min-width: $tablet-width) {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (min-width: $desktop-width) {
        position: static;
        transform: translateX(0);
        padding: 30px 0 80px 105px;
      }
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    padding-top: 4px;

    @media (max-width: $mobile-width-only) {
      line-height: 50px;
      letter-spacing: 1.12px;
    }

    @media (min-width: $tablet-width) {
      line-height: 80px;
      font-size: 56px;
      letter-spacing: 1.12px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 30px;
    }
  }

  &__description-wrapper {
    box-sizing: border-box;
    margin: 0 auto;

    @media (max-width: $mobile-width-only) {
      padding: 5px 0 60px;
      max-width: 320px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 60px;
      max-width: 768px;
    }

    @media (min-width: $desktop-width) {
      padding: 180px 0 0;
      text-align: left;
    }
  }

  &__badge {
    @media (min-width: $desktop-width) {
      padding-left: 30px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    @media (max-width: $mobile-width-only) {
      padding: 6px 25px 0;
      min-height: 100px;

      & br {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 32px;
      padding: 16px 90px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 16px 100px 0 30px;
    }
  }

  &__buy {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-width-only) {
      align-items: center;
      padding: 20px 45px 0;
    }

    @media (min-width: $tablet-width) {
      align-items: center;
      padding: 20px 269px 310px;
    }

    @media (min-width: $desktop-width) {
      padding: 40px 50px 50px 30px;
      justify-content: start;
    }
  }

  &__old-price {
    color: $base-primary;
    font-size: 16px;
    line-height: 32px;
    text-decoration-line: line-through;

    @media (max-width: $mobile-width-only) {
      padding-right: 7px;
    }

    @media (min-width: $tablet-width) {
      padding-right: 8px;
    }
  }

  &__price-wrapper {
    padding-right: 20px;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  &__button {
    width: 113px;
    height: 40px;
    font-size: 16px;
    line-height: 28px;
  }

  &__arrow {
    background-color: transparent;
    background-image: url(../../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: 35px 50%;

    @media (max-width: $mobile-width-only) {
      background-position: 4px 50%;
    }

    &::before {
      position: absolute;
      content: "";
      z-index: 3;
      background-image: none;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      top: 0;
      left: 0;
      min-height: 656px;

      @media (min-width: $tablet-width) {
        min-height: 640px;
      }

      @media (min-width: $desktop-width) {
        min-height: 714px;
      }
    }

    &:hover::before,
    &:focus::before {
      background-image: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active::before {
      background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.00) 100%);
    }

    @media (max-width: $mobile-width-only) {
      &::before {
        width: 20px;
      }

      position: absolute;
      top: 0;
      min-height: 656px;
      padding: 0;
      margin: 0;
      border: none;

      &--right {
        right: 0;
        transform: rotate(180deg);
      }

      &--left {
        left: 0;
      }
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 60px;
      }

      position: absolute;
      top: 0;
      min-height: 640px;
      width: 60px;
      padding: 0;
      margin: 0;
      border: none;

      &--right {
        right: 0;
        transform: rotate(180deg);
      }

      &--left {
        left: 0;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 714px;
      width: 60px;

      &--right {
        right: 0;
      }

      &--left {
        left: 0;
      }
    }
  }

  &__steps.swiper-pagination-bullets {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      bottom: 69px;
    }
  }

  &__steps .swiper-pagination-bullet {
    gap: 0;
    width: 40px;
    border-radius: 0;
    width: 62px;
    height: 4px;
    border: none;
    background-color: $base-white;
    opacity: 1;

    &-active {
      background-color: $base-primary;
    }

    &:hover,
    &:focus {
      background-color: $alt-primary;
      opacity: 0.25;
    }
  }
}
