.sorting {
  box-sizing: border-box;
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.sorting__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    justify-content: flex-end;
  }
}

.sorting__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin: 14px 0 0;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}


.sorting__item {
  background-color: $white;
  padding: 20px;

  &--shadow {
    @media (min-width: $desktop-width) {
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    }
  }
}

.sorting__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.sorting__title {
  font-family: $montserrat-bold;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

.sorting__title h3 {
  margin: 0;
  padding-bottom: 5px;
}

.sorting__description {
  font-family: $montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 15px;
}

.sorting__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting__price {
  font-family: $montserrat-bold;
  font-size: 20px;
  line-height: 32px;
}

.sorting__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  min-height: 36px;
  padding: 8px 20px;
  font-family: $montserrat-regular;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  background-color: $purple;
  border-radius: 4px;
  text-decoration: none;
}

.sorting__control {
  width: 165px;
  font-family: $montserrat-regular;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $purple;
  border: none;
  outline: 0;
  padding: 10px 22px 10px 10px;
  text-align: center;
  cursor: pointer;
  appearance: none;
  background-color: #f8f8f8;
}
