.swiper-slide__img {
  height: 280px;
  width: 280px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.swiper-slide__new {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.swiper-slide__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.swiper-slide__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  padding: 8px 20px 21px;
  margin: 0;

  & br {
    display: none;
  }
}

.swiper-slide__buy {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 22px;
}

.swiper-slide__cost {
  display: flex;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.swiper-slide__old-cost {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #7859cf;
}

.swiper-slide__order {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #7859cf;
  border-radius: 4px;
  border: 0;
  padding: 8px 20px;

  &:hover {
    background: #9070ec;
  }

  &:focus {
    background: #9070ec;
  }

  &:active {
    background: #593cac;
  }

  &:disabled {
    background: #bdbdbd;
  }
}

@media (min-width: 768px) {
  .swiper-slide--grey {
    background: linear-gradient(#e5e6e8 68%, #ffffff 68%);
  }

  .swiper-slide--purple {
    background: linear-gradient(#eae6fc 68%, #ffffff 68%);
  }

  .swiper-slide__img {
    position: absolute;
    height: 476px;
    width: 476px;
    bottom: 50px;
    left: 146px;
  }

  .swiper-slide {
    position: relative;
    height: 828px;
    align-items: center;
    padding-top: 50px;
  }

  .swiper-slide__title {
    font-size: 56px;
    line-height: 80px;
    padding-bottom: 8px;
  }

  .swiper-slide__description {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    padding-bottom: 19px;

    & br {
      display: block;
    }
  }
}

@media (min-width: 1440px) {
  .swiper-slide--grey {
    background: #e5e6e8;
  }

  .swiper-slide--purple {
    background: #eae6fc;
  }

  .swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 80px 120px 1fr;
    height: 714px;
    padding: 0;

    & h2 {
      grid-column: 2/3;
      grid-row: -4/-3;
      text-align: start;
      padding: 0;
      margin: 0;
      margin-left: 15px;
    }

    & picture {
      grid-row: 2/-2;
      margin-left: auto;
      padding-top: 60px;
      padding-right: 18px;
    }
  }

  .swiper-slide__description {
    grid-column: 2/3;
    grid-row: -3/-2;
    text-align: start;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    padding-top: 5px;
  }

  .swiper-slide__new {
    grid-column: 2/3;
    grid-row: -5/-4;
    text-align: start;
    margin-top: 165px;
    margin-left: 15px;
  }

  .swiper-slide__buy {
    grid-column: 2/3;
    grid-row: -2/-1;
    margin-bottom: auto;
    margin-left: 15px;
    padding-top: 33px;
  }

  .swiper-slide__img {
    position: static;
    height: 600px;
    width: 600px;
  }
}
