.swiper {
  min-width: 320px;
  height: 656px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 828px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    height: 714px;
  }
}

.swiper-slide {
  @media (min-width: $tablet-width) {
    margin-bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  right: 0;
  margin: 0;
  outline: 0;
  min-width: 20px;
  height: 100%;


  @media (min-width: $tablet-width) {
    min-width: 80px;
    height: calc(100% - 188px);
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.swiper-button-next::after {
  padding-left: 6px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: $purple;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.swiper-button-next:focus-visible,
.swiper-button-next:hover {
  background-image: linear-gradient(-90deg, #ffffff 0, rgba(255, 255, 255, 0) 100%);
}

.swiper-button-next:active {
  background-image: linear-gradient(-90deg, rgba(120, 89, 207, .25) 0, rgba(120, 89, 207, 0) 100%);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev::after {
  padding-left: 0;
  padding-right: 6px;
}

.swiper-button-prev :focus-visible,
.swiper-button-prev:hover {
  background-image: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.swiper-button-prev:active {
  background-image: linear-gradient(90deg, rgba(120, 89, 207, .25) 0, rgba(120, 89, 207, 0) 100%);
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.swiper-pagination span {
  width: 62px;
  height: 4px;
  border-radius: 0;
  background-color: $white;
  opacity: 1;
  outline: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: $purple;
  cursor: default;
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.swiper-pagination-bullet:focus-visible,
.swiper-pagination-bullet:hover {
  @media (min-width: $desktop-width) {
    background-color: $purple;
    opacity: 0.25;
  }
}

.swiper-pagination-bullet:active {
  @media (min-width: $desktop-width) {
    background-color: $purple;
  }
}
