.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin: 0 0 0 auto;
  list-style: none;
  margin-left: 88px;
  max-width: 150px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0 20px 0 0;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px 0 0;
    max-width: 300px;
  }
}

.user-list__link-icon {
  fill: $black;

  &:focus,
  &:hover {
    fill: $purple;
  }
}

.user-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  text-decoration: none;

  &:active {
    background-color: #f0ebff;
  }

  &:hover,
  &:focus {
    color: $purple;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
    min-width: 112px;
    min-height: 80px;
  }
}

.user-list__link-text {
  display: none;

  &:focus,
  &:hover {
    color: #9070ec;
  }

  &:active {
    color: #593cac;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 8px;
    text-transform: uppercase;
  }
}

.user-list__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 23px;
  }
}
