@import "../global/variables.scss";

.user-nav {
  position: relative;
  margin-left: 88px;
  top: -6px;

  @media (min-width: $tablet-width) {
    margin-left: 65px;
    top: 0;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.user-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.user-nav__link {
  padding: 22px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }
}

.user-nav__name {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    color: $base-black;
  }
}

.user-nav__link svg {
  fill: $base-black;
}

.user-nav__link:hover svg,
.user-nav__link:focus svg,
.user-nav__link:active svg {
  @media (min-width: $desktop-width) {
    fill: $base-purple;
  }
}

.user-nav__link:hover .user-nav__name,
.user-nav__link:focus .user-nav__name {
  color: $base-purple;
}

.user-nav__link:active {
  background-color: $base-secondary;
  color: $base-purple;
}
