.footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "social social social"
      "nav media contacts"
      "copyright copyright copyright";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "social nav media contacts"
      "copyright copyright copyright copyright";
    max-width: $desktop-page-width;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.footer__image {
  width: 86px;
  height: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.footer__social {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 22px 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    grid-area: social;
    padding: 22px 20px 10px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    &::after {
      position: absolute;
      content: "Интернет-магазин кофейных напитков";
      font-size: 14px;
      line-height: 20px;
      color: $base-black;
      top: 65px;
      left: 20px;
      width: 320px;
      background-color: transparent;
      height: 20px;
    }
  }
}

.footer__logo {
  outline: none;
}

.social__list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.social__link {
  display: grid;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  place-items: center;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }

  &:active {
    background: rgba(120, 89, 207, 0.25);
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon, {
  outline: none;
  fill: $base-primary;
}

.social__icon {
  fill: $base-grey;
}

.footer__navigation,
.footer__media,
.footer__contacts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__navigation {
  @media (min-width: $tablet-width) {
    grid-area: nav;
  }
}

.footer__media {
  @media (min-width: $tablet-width) {
    grid-area: media;
  }
}

.footer__contacts {
  @media (min-width: $tablet-width) {
    grid-area: contacts;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $base-primary;
  letter-spacing: 0.02em;
}

.footer__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer__link {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: $base-black;
  text-decoration: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $primary-lighter;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer__address,
.footer__telephone {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 6px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 16px;
    content: "";
  }
}

.footer__telephone {
  &::after {
    background-image: url("./../img/address-icon.svg");
  }
}

.footer__address {
  margin-bottom: 16px;

  &::after {
    background-image: url("./../img/telephone-icon.svg");
  }
}

.contacts__text {
  display: block;
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 20px 0 30px;

  @media (min-width: $tablet-width) {
    grid-area: copyright;
  }
}

.copyright {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
}

.copyright__link {
  display: flex;
  align-items: center;
  gap: 4px;
  outline: none;
  text-decoration: none;

  &:hover .copyright,
  &:focus .copyright {
    color: $base-primary;
  }

  &:active .copyright {
    color: $primary-darker;
  }

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $base-primary;
  }

  &:active .copyright__icon {
    fill: $primary-darker;
  }
}

.copyright__icon {
  fill: $base-grey;
}
