
div.swiper-slide {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.slide__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 640px;
  padding: 20px 20px 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, fit-content(200px));
    grid-template-areas:
      "mark"
      "title"
      "text"
      "buy-block"
      "image";
    min-height: 876px;
    padding: 60px 80px 0 80px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, fit-content(200px));
    grid-template-areas:
      "image ."
      "image mark"
      "image title"
      "image text"
      "image buy-block"
      "image .";
    min-height: 714px;
    padding: 30px 0 0 0;
    column-gap: 30px;
  }
}

.slide__flat-white {
  background-color: $flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, $flat-white 75%, $base-white 75%);
  }

  @media (min-width: $desktop-width) {
    background: $flat-white;
  }
}

.slide__espresso {
  background-color: $espresso;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, $espresso 75%, $base-white 75%);
  }

  @media (min-width: $desktop-width) {
    background: $espresso;
  }
}

.slide__latte {
  background-color: $lavender-latte;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, $lavender-latte 75%, $base-white 75%);
  }

  @media (min-width: $desktop-width) {
    background: $lavender-latte;
  }
}

.slide__image {
  margin-bottom: 10px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    grid-area: image;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.slide__image img {
  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slide__new-mark {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $base-primary;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-area: mark;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    text-align: start;
  }
}

.slide__title {
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    grid-area: title;
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    padding: 0;
    font-size: 56px;
    line-height: 80px;
    text-align: start;
  }
}

.slide__text {
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: text;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin-bottom: 40px;
    padding: 0;
    text-align: start;
  }
}

.slide__buy-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    grid-area: buy-block;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    max-width: 600px;
  }
}

.slide__old-price {
  margin-right: 6px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
}

.slide__new-price {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

div .swiper-button-next,
div .swiper-button-prev {
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 20px;
    content: "";
    transform: translate(-50%, -50%);
  }
}

div .swiper-button-prev {
  left: 0;

  &::after {
    background-image: url("./../img/arrow-left.svg");
  }

  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(to right, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(to right, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

div .swiper-button-next {
  right: 0;

  &::after {
    background-image: url("./../img/arrow-right.svg");
  }

  &:hover,
  &:focus {
    outline: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $base-white 100%);
  }

  &:active {
    background: linear-gradient(to right, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
  }
}

div .swiper-pagination-bullet {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 62px;
    height: 4px;
    opacity: 1;
    border-radius: 0;
    background-color: $base-white;

    &:hover,
    &:focus {
      background-color: rgba(120, 89, 207, 0.25);
    }
  }
}

div .swiper-pagination-bullet-active {
  @media (min-width: $desktop-width) {
    background-color: $base-primary;

    &:hover,
    &:focus {
      background-color: $base-primary;
    }
  }
}

div .swiper-horizontal > .swiper-pagination-bullets,
div .swiper-pagination-bullets.swiper-pagination-horizontal,
div .swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 70px;
}
