.button {
  display: inline-flex;
  padding: 8px 20px;
  font-family: $regular-font;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &--accent {
    background-color: $base-primary;
  }
}
