.container {
  padding: 0 $padding-offset;
  // padding: 0 var(--padding-offset);
  margin: 0 auto;
  width: 100%;
  max-width: $tablet-width;

  @include viewport-tablet {
    max-width: $desktop-width;
  }

  @include viewport-desktop {
    padding: 0 $padding-offset * 2;
    // --padding-offset: 40px;
  }
}
