.header {
  position: relative;
  display: flex;
  flex-direction: row;
  // align-items: center;
  min-height: 60px;
  padding: 0;
  padding-left: 20px;

  @include viewport-tablet {
    padding-right: 20px;
  }

  @include viewport-desktop {
    padding: 0 40px;
  }
}

.header__logo {
  display: block;
  align-self: center;

  @include viewport-desktop {
    margin-right: 20px;
  }
}

.header__logo-image {
  display: block;
}

.header__description {
  display: none;

  @include viewport-desktop {
    align-self: center;
  }
}
