.main-nav__list {
  @include list;
}

.main-nav__item {
  padding: 16px 0;
}

.main-nav__item-link {
  padding: 16px 203px 16px 40px;
  color: $main-text;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 320px;
}
