.main-header {
  background-color: $head-background;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);
  position: relative;

  @include tablet {
    display: flex;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 26px 5px 21px;
  position: relative;
  height: 62px;

  @include tablet {
    min-height: 104px;
    padding: 0;
    width: 48%;
  }
}

.main-header__nav {
  padding: 38px 0 148px 0;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 62px;
  width: 100%;
  background-color: $head-background;
  display: none;


  @include tablet {
    padding: 26px 10px 22px 0;
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 34px;
  transform: translateY(-50%);
  z-index: 4;

  &:hover {
    .main-header__logo-main-wrapper::before {
      background-color: $green-hover;
    }
  }

  &:active {
    .main-header__logo-main-wrapper::before {
      background-color: $green-disabled;
    }
  }

  @include tablet {
    top: 53%;
    left: 31px;
  }
}

.main-header__logo-main {
  @include tablet {
    width: 46px;
    height: 48px;
  }
}

.main-header__logo-main-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    mask-image: url("../../images/icons/stack.svg#leafs");
    width: 28px;
    height: 11px;
    display: block;
    left: 4px;
    top: 2px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: $green;
    z-index: -1;

    @include tablet {
      top: 0;
      left: 7px;
      width: 34px;
      height: 15px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../../images/icons/stack.svg#main-berry");
    width: 34px;
    height: 29px;
    display: block;
    left: 1px;
    top: 13px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: $violet;
    z-index: -1;

    @include tablet {
      width: 38px;
      height: 32px;
      left: 4px;
      top: 14px;
    }
  }
}

.main-header__logo-text {
  display: none;

  @include tablet {
    display: block;
    width: 69px;
    height: 81px;
    margin-left: 14px;
  }
}

.main-header__button {
  display: block;
  mask-image: url("../../images/icons/stack.svg#menu-open");
  width: 60px;
  height: 60px;
  border: none;
  background-color: $green;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  z-index: 5;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    background-color: $green-hover;
  }

  &:focus {
    background-color: $green-hover;
  }

  @include tablet {
    display: none;
  }
}

.main-header__toggle-closed {
  mask-image: url("../../images/icons/stack.svg#menu-close");
  width: 28px;
  height: 28px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $green;

  &:hover {
    background-color: $green-hover;
  }

  &:focus {
    background-color: $green-hover;
  }
}

.main-nav__opened {
  display: block;
}

.no-js {
  .main-header__nav {
    display: block;
    position: static;
    z-index: 5555;
    margin-top: 0;
  }

  .main-header__button {
    display: none;
  }
}
