.new {
  padding-bottom: 164px;
}

.new__title {
  margin: 0;
  padding-bottom: 64px;
}

.new__list {
  @include list;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.new__item {
  position: relative;
  padding: 41px 20px 69px 18px;
  border: 2px solid $green;
  border-radius: 40px;

  &--discount {
    padding: 29px 20px 69px 18px;
  }

  &--mix {
    padding: 52px 17px 69px 20px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../images/icons/stack.svg#path");
    display: block;
    width: 76px;
    height: 32px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    bottom: 22px;
    transform: translateX(-50%);
  }
}

.new__item-text {
  margin: 0;
  color: $main-text;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;

  &--title {
    font-size: 20px;
    text-align: center;
    width: 204px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  &--date {
    display: block;
    text-align: end;
  }

  &--description {
    min-height: 192px;
  }

  &--discount {
    padding-bottom: 18px;
  }

  &--mix {
    padding-bottom: 43px;
  }
}
