.user-list {
  flex-direction: row;
  height: 100%;
  z-index: 2;
}

// .user-list__item {
//   //
// }

.user-list__item-link {
  padding: 0 22px;

  @include viewport-tablet {
    padding: 32px 22px;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: $base-black;
    mask-image: var(--bgi);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &--login {
    --bgi: url("../../icons/stack.svg#user");
  }

  &--basket {
    --bgi: url("../../icons/stack.svg#basket");
  }
}

.user-list__item-link span {
  @include viewport-desktop {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    margin-left: 8px;
    clip: auto;
    clip-path: none;
  }
}
