.user-menu {
  @include list-reset;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: $montserrat-medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    min-width: 260px;
  }
}


.user-menu__wrapper {
  @media (max-width: $mobile-width-only) {
    width: 210px;
  }

  @media (min-width: $tablet-width) {
    // width: 180px;
  }
}

.user-menu__item {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {
    min-width: 120px;
  }
}

.user-menu__link {
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
}

.user-menu__cart--hidden,
.user-menu__enter--hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.user-menu__enter {
  &::before {
    @include user-menu-base-styles;
    mask-image: url("../../icons/header/enter.svg");
  }
}

.user-menu__cart {
  &::before {
    @include user-menu-base-styles;
    mask-image: url("../../icons/header/cart.svg");
  }
}

@media (min-width: $desktop-width) {

  .user-menu__cart::before,
  .user-menu__enter::before {
    margin-right: 10px;
  }
}
